<footer>
	<p>Derechos reservados</p>
	Dirección: Calle 78B No. 72A - 220 Medellín - Colombia - Suramérica<br>  
    Horario de atención al público<br> 
    7:30 a.m. a 12:00 m. y  de 1:00 p.m. a 5:30 p.m. 
    de lunes a jueves, los viernes de 7:30 a.m. a 12:00 m. y 1:00 p.m. a 4:30 p.m. 
    <br>Copacabana: Carrera 50 n°50a - 59 
    <br>Itaguí: Institución Educativa Simón Bolívar Calle 65 n° 46a - 95  
    Teléfono PBX: (574) 444 37 00
</footer>

</body> 

</html>